extends ./../../layouts/header.pug


block title
    title= title 



block cssLink
    link(rel="stylesheet", href="/css/signin.css")



block jsScript
    script(src="/js/verifyOtp.js" defer) 



block bodyContent
        .signin-section
            .wrapper
                .signin-wrapper
                    div.social-icon
                        i.fab.fa-twitter

                    h2 Verify OTP

                    p.otp-awareness An OTP has been sent to #{otp.email} . Check your mail.

                    form(action='/verificationOTP', method="post")

                        label(for="otp") Enter OTP
                        
                        .user-input 
                            i.user-icon.fas.fa-lock-open
                            input#userName(type="number", name="otp" maxlength="6" class="form-control", value= otp.value )

                            input(type="hidden" name="otpId" value= otp.otpId)
                            input(type="hidden" name="otpEmail" value= otp.email)
                        
                        if error.otp
                            p.error.userName-error #{error.otp.msg}

                        input(type="submit" class="form-control signin-btn" value="Verify Now")

                        .countdown
                            p#countdown.my-3.text-center
                                | Expire In: 
                                span.text-success 1:59

                    form(action='/resetPassword', method="post")  
                        input(type="hidden" name="userName" value=otp.email)    

                        input(type="submit" class="form-control otp_resend_btn" value="OTP Resend" id="otp-resend-btn")

                        .disclaimer 
                            p.disclaim Need to sign in? 
                                a(href='/signin') sign in here
