.confirmation_section {
    background: #1D2A35;
    width: 100vw;
    height: 100vh;

    .confirmation_image {
        text-align: center
    }

    .confirmation-inner {
        h3 {
            color: #178C20;
        }
    }

    .confirmation-heading {
        h5 {
            color: #178C20;
        }
    }

    .confirmation-text {
        p {
            color: #FFFFFF;

            span {
                color: #1DA1F2;
            }
        }
    }
}