// Mid side container
.mid_side_container {

    .mid_heading_container {
        display: flex;
        height: 50px;
        border-bottom: 1px solid #2f3336;
        padding: 15px;
        z-index: 3;
        position: fixed;
        background: #010507;
        align-items: center;
        width: 600px;
        border-left: 1px solid #2f3336;
        border-right: 1px solid #2f3336;

        h4 {
            font-size: 20px;
            font-weight: 500;
            color: #e7e9ea;
            cursor: pointer;
            margin-left: 10px;
        }
    }

    .search_header_container {
        padding: 82px 15px 20px 15px;
        border-left: 1px solid #2f3336;
        border-right: 1px solid #2f3336;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .search_field {
            position: relative;
            display: flex;
            align-items: center;


            input#searchInput {
                width: 440px;
                height: 40px;
                padding: 0 15px 0 53px;
                border-radius: 28px;
                border: 0;
                outline: 0;
                background: #202327;
                color: #666C70;
                margin-left: -30px;
                box-shadow: 0px 4px 8px 4px rgba(54, 54, 54, 0.2);
            }

            i.fas.fa-search {
                z-index: 1;
                color: #666C70;
                padding-left: 25px;
            }
        }

        .settings_icon {

            button.set_icon {
                background: transparent;
                width: 35px;
                height: 35px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                transition: 0.5s;
                cursor: pointer;

                &:hover {
                    background: #191919;
                }
            }

        }

    }


    .newSearchTweetContainer {

        h4 {
            text-align: center;
            padding-top: 35px;
            color: #666C70;
            border-left: 1px solid #2f3336;
            border-right: 1px solid #2f3336;
        }

        .newTweet {
            display: flex;
            padding: 5px 11px;
            border-bottom: 1px solid #2F3336;
            cursor: pointer;
            margin-top: 10px;
            border-left: 1px solid #2f3336;
            border-right: 1px solid #2f3336;

            .avatar_image {
                width: 60px;

                .image {
                    width: 50px;
                    overflow: hidden;
                    margin-right: 15px;

                    img.avatar {
                        width: 100%;
                        height: 50px;
                        border-radius: 25px;
                        object-fit: cover;
                    }
                }
            }

            .newTweet_body {
                width: 100%;

                .newTweet_header {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .header_items {
                        display: flex;
                        align-items: center;

                        a.show_name {
                            color: #CED0D1;
                            padding-right: 4px;
                        }

                        span.show_username {
                            color: #5E6266;
                            padding-right: 25px;
                        }

                        .timeAgo {
                            color: #5E6266;
                            padding-right: 10px;
                        }
                    }


                    div.dropleft {
                        .posted_more {
                            color: #5E6266;
                            cursor: pointer;
                            background: transparent;
                            height: 35px;
                            width: 35px;
                            border-radius: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            transition: 0.5s;

                            &:hover {
                                background: #0A1720;
                                color: #29A0F0;
                            }

                            i.fas.fa-ellipsis-h {
                                pointer-events: none;
                            }
                        }

                        .dropdown-menu {
                            background-color: #000;
                            box-shadow: rgb(255 255 255 / 20%) 0px 0px 15px, rgb(255 255 255 / 15%) 0px 0px 3px 1px;
                            border-radius: 5px;

                            a.dropdown-item {
                                transition: 0.5s;

                                &:hover {
                                    background: #16181C;
                                }

                                button.remove_btn {
                                    border: 0;
                                    outline: 0;
                                    background: transparent;
                                    color: #B91A24;
                                    font-weight: 700;
                                }

                                button.pin_btn {
                                    border: 0;
                                    outline: 0;
                                    background: transparent;
                                    color: #dcdedf;
                                }
                            }
                        }
                    }

                }

                .replyUser {
                    color: #5e6266;

                    p {
                        span {
                            color: #1988d3;
                        }
                    }
                }

                .reply_txt_content {
                    color: #CED0D1;
                }


                .newTweet_content {
                    color: #CED0D1;
                    margin: 5px 0 20px 0;
                }

                .newTweet_images {
                    display: grid;
                    grid-template-columns: auto auto;
                    gap: 10px;
                    width: 100%;


                    .newTweet_img {
                        width: 100%;
                        height: 100%;

                        img {
                            width: 100%;
                            height: 100%;
                            border-radius: 10px;
                            object-fit: cover;
                        }
                    }
                }

                .replyingUser {
                    display: none;
                }

                .newTweet_footer {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    margin: 10px 0;

                    button.reply {
                        border: 0;
                        outline: 0;
                        background: transparent;
                        color: #4d5053;
                        transition: 0.5s;

                        &:hover {
                            color: #1A8AD6;
                        }

                        i {
                            pointer-events: none;
                        }

                        span {
                            pointer-events: none;
                        }
                    }


                    button.retweet {
                        border: 0;
                        outline: 0;
                        background: transparent;
                        color: #4d5053;
                        transition: 0.5s;

                        &:hover {
                            color: #019866
                        }

                        i {
                            pointer-events: none;
                        }

                        span {
                            pointer-events: none;
                        }
                    }

                    button.retweet.active {

                        i {
                            color: #019866
                        }

                        span {
                            color: #019866
                        }
                    }


                    button.love {
                        border: 0;
                        outline: 0;
                        background: transparent;
                        color: #4d5053;
                        transition: 0.5s;

                        &:hover {
                            color: #C21465;
                        }

                        i {
                            pointer-events: none;
                        }

                        span {
                            pointer-events: none;
                        }
                    }

                    button.love.lovedIt {
                        i {
                            color: #F91880;
                        }

                        span {
                            color: #F91880;
                        }
                    }

                    button.share {
                        border: 0;
                        outline: 0;
                        background: transparent;
                        color: #4d5053;
                        transition: 0.5s;

                        &:hover {
                            color: #1A8AD6;
                        }
                    }
                }
            }
        }
    }
}