h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    background: #000000;
}

#main_section {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
}

//=========== Left side container ============//
.left_side_container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    flex-basis: 250px;

    .top_left_section {
        flex: 1;

        .logo_section {
            height: 50px;
            display: flex;
            align-items: center;

            a.logoIcon {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                transition: 0.5s;

                &:hover {
                    background: #141e25;
                }

                i.fab.fa-twitter {
                    font-size: 32px;
                    cursor: pointer;
                    color: #D6D9DB;
                }
            }


        }

        .menu_section {


            nav.nav_section {
                display: flex;
                flex-direction: column;

                a.nav_link {
                    display: flex;
                    align-items: center;
                    margin: 3px 0;
                    padding: 12px 20px 12px 12px;
                    border-radius: 28px;
                    width: fit-content;
                    transition: 0.5s;
                    cursor: pointer;
                    color: #E7E9EA;
                    font-size: 18px;
                    font-weight: 500;
                    text-decoration: none;

                    &:hover {
                        background: #181818;
                        font-weight: 700;
                    }

                    span {
                        display: flex;
                        align-items: center;
                        padding-right: 15px;
                        position: relative;

                        .notification_box {
                            position: absolute;
                            background: #1A8CD8;
                            width: 16px;
                            height: 16px;
                            color: #FFFFFF;
                            border-radius: 28px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            top: -6px;
                            right: 11px;
                            font-size: 10px;
                            font-weight: 400;
                        }
                    }
                }

            }

            .tweet_btn {
                display: flex;
                align-items: center;

                button {
                    padding: 12px 75px;
                    border-radius: 30px;
                    border: 0;
                    outline: 0;
                    background: #1A8CD8;
                    color: #FFFFFF;
                    font-weight: 500;
                }
            }
        }
    }


    .bottom_left_section {
        width: 100%;
        flex-basis: 60px;

        .user_info {
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 0 5px;
            height: 50px;
            border-radius: 30px;
            margin-right: 5px;

            &:hover {
                background: #181818;
            }

            .avatar_profile img {
                width: 40px;
                height: 40px;
                border-radius: 50%;

                img {
                    width: 100%;
                }
            }

            .name_info {
                padding: 0 15px;
                cursor: pointer;

                h6 {
                    font-size: 16px;
                    color: #E7E9EA;
                }

                p {
                    font-size: 14px;
                    color: #71767B;
                }
            }

            span {
                cursor: pointer;



            }
        }
    }
}

.modall {
    display: block;
    position: fixed;
    z-index: 1;
    top: 73%;
    left: 13%;

    .modall-content {
        background-color: #000000;
        margin: auto;
        padding: 5px;
        border: 0;
        width: 220px;
        box-shadow: rgb(255 255 255 / 20%) 0px 0px 15px, rgb(255 255 255 / 15%) 0px 0px 3px 1px;
        border-radius: 5px;

        p {
            padding: 5px 20px;
            transition: 0.5s;

            &:hover {
                background: #16181C;
                border-radius: 5px;
            }

            a {
                color: #DCDEDF;
                font-weight: 300;
                font-size: 14px;
            }
        }
    }
}



//=========== Mid side container ============//
.mid_side_container {
    border-left: 1px solid #2F3336;
    height: auto;
    flex: 1;
    // overflow-y: hidden visible;

    .mid_heading_container {
        display: flex;
        height: 50px;
        border-bottom: 1px solid #2f3336;
        padding: 15px;
        z-index: 3;
        position: fixed;
        background: #010507;
        align-items: center;
        width: 600px;
        // justify-content: space-between;
        border-left: 1px solid #2F3336;
        border-right: 1px solid #2F3336;

        h4 {
            font-size: 20px;
            font-weight: 500;
            color: #E7E9EA;
            cursor: pointer;
        }

        span {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            transition: 0.5s;

            &:hover {
                background: #191919;
            }
        }
    }

    .create_tweet_section {
        display: flex;
        justify-content: space-between;
        padding: 11px;
        border-bottom: 1px solid #2F3336;
        z-index: 0;
        margin-top: 49px;
        border-left: 1px solid #2F3336;
        border-right: 1px solid #2F3336;

        .avatar_section {
            flex-basis: 45px;
            height: 45px;
            border-radius: 28px;
            overflow: hidden;
            margin-right: 5px;

            img {
                width: 100%;
            }
        }

        .tweet_text_section {
            flex: 1;

            textarea {
                border: 0;
                outline: 0;
                resize: none;
                height: 57px;
                width: 100%;
                background: #000000;
                color: #D6D9DB;
            }

            .image_container {
                display: grid;
                grid-template-columns: auto auto;
                gap: 10px;
                width: 100%;
                margin-bottom: 25px;

                .img {
                    position: relative;

                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 10px;
                        object-fit: cover;
                    }

                    span#cls_btn {
                        position: absolute;
                        right: 16px;
                        top: 6px;
                        background: #52565A;
                        color: #FFFFFF;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 30px;
                        width: 30px;
                        border-radius: 50%;
                        cursor: pointer;
                    }
                }

            }

            .action_section {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 9px;
                border-top: 1px solid #2F3336;

                label {
                    cursor: pointer;
                    height: 32px;
                    width: 32px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    transition: 0.5s;

                    &:hover {
                        background: #031019;
                    }
                }

                #imagePost {
                    display: none;
                }

                .tweet_post_btn:disabled {
                    background: #8ECDF7;
                    padding: 10px 25px;
                    border: 0;
                    outline: 0;
                    color: #FFFFFF;
                    border-radius: 25px;
                    font-weight: 500;
                }

                .tweet_post_btn {
                    padding: 10px 25px;
                    border: 0;
                    outline: 0;
                    background: #1A8CD8;
                    color: #FFFFFF;
                    border-radius: 25px;
                    font-weight: 500;
                }
            }
        }
    }

    .newTweetContainer {
        border-left: 1px solid #2F3336;
        margin-top: 64px;

        p.reTweeted_post {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-left: 35px;
            padding-top: 5px;

            i {
                color: #6A6F73;
            }

            span.retweeted_user_link {
                padding-left: 15px;
                color: #6A6F73;

                &:hover {
                    text-decoration: underline;
                }

                a {
                    color: #6A6F73;
                }
            }
        }

        h6.nonePost_show {
            text-align: center;
            color: #1D9BF0;
            font-weight: 400;
            margin-top: 10px;
        }

        .newTweet {
            display: flex;
            padding: 5px 11px;
            border-bottom: 1px solid #2F3336;
            border-right: 1px solid #2F3336;
            cursor: pointer;


            .avatar_image {
                width: 60px;

                .image img {
                    width: 50px;
                    height: 50px;
                    border-radius: 25px;
                    overflow: hidden;
                    margin-right: 15px;

                    img.avatar {
                        width: 100%;

                    }
                }
            }

            .newTweet_body {
                width: 100%;

                .newTweet_header {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .header_items {
                        display: flex;
                        align-items: center;

                        a.show_name {
                            color: #CED0D1;
                            padding-right: 4px;
                        }

                        span.show_username {
                            color: #5E6266;
                            padding-right: 25px;
                        }

                        .timeAgo {
                            color: #5E6266;
                            padding-right: 10px;
                        }
                    }


                    .posted_more {
                        color: #5E6266;
                        cursor: pointer;

                        height: 35px;
                        width: 35px;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        transition: 0.5s;

                        &:hover {
                            background: #0A1720;
                            color: #29A0F0;
                        }
                    }

                }

                .replyUser {
                    color: #5e6266;

                    p {
                        span {
                            color: #1988d3;
                        }
                    }
                }

                .reply_txt_content {
                    color: #CED0D1;
                }

                .replyingUser {
                    display: none;
                }


                .newTweet_content {
                    color: #CED0D1;
                    margin: 5px 0 20px 0;
                }

                .newTweet_images {
                    display: grid;
                    grid-template-columns: auto auto;
                    gap: 10px;
                    width: 100%;
                    margin-bottom: 5px;

                    .newTweet_img {

                        img {
                            width: 100%;
                            height: 100%;
                            border-radius: 10px;
                            object-fit: cover;
                        }
                    }
                }

                .newTweet_footer {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    margin: 10px 0;

                    button.reply {
                        border: 0;
                        outline: 0;
                        background: transparent;
                        color: #4d5053;
                        transition: 0.5s;

                        &:hover {
                            color: #1A8AD6;
                        }

                        i {
                            pointer-events: none;
                        }

                        span {
                            pointer-events: none;
                        }
                    }


                    button.retweet {
                        border: 0;
                        outline: 0;
                        background: transparent;
                        color: #4d5053;
                        transition: 0.5s;

                        &:hover {
                            color: #019866
                        }

                        i {
                            pointer-events: none;
                        }

                        span {
                            pointer-events: none;
                        }
                    }

                    button.retweet.active {

                        i {
                            color: #019866
                        }

                        span {
                            color: #019866
                        }
                    }


                    button.love {
                        border: 0;
                        outline: 0;
                        background: transparent;
                        color: #4d5053;
                        transition: 0.5s;

                        &:hover {
                            color: #C21465;
                        }

                        i {
                            pointer-events: none;
                        }

                        span {
                            pointer-events: none;
                        }
                    }

                    button.love.lovedIt {
                        i {
                            color: #F91880;
                        }

                        span {
                            color: #F91880;
                        }
                    }

                    button.share {
                        border: 0;
                        outline: 0;
                        background: transparent;
                        color: #4d5053;
                        transition: 0.5s;

                        &:hover {
                            color: #1A8AD6;
                        }
                    }
                }
            }
        }
    }
}

//=========== Right side container ============//
.right_side_container {
    background: #6A150D;
    height: 100vh;
    flex-basis: 350px;
}



// Reply Modal
div#replyModal {
    background: rgba(91, 112, 131, 0.4);

    .modal-dialog {

        .modal-content {
            background: #000000;

            .modal-header {
                padding: 5px;
                margin-left: 10px;
                border-bottom: 2px solid transparent;

                button.btn-close {
                    border: 0;
                    outline: 0;
                    background: transparent;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    transition: 0.5s;

                    &:hover {
                        background: #181818;
                    }

                    span {
                        font-size: 30px;
                        color: #eff3f4;
                    }
                }
            }

            .modal-body {

                .newTweet {
                    display: flex;
                    cursor: pointer;

                    .avatar_image {
                        margin-right: 15px;

                        .image img {
                            width: 45px;
                            height: 45px;
                            border-radius: 50%;

                            img.avatar {
                                width: 100%;
                                height: 100%;

                            }
                        }
                    }


                    .newTweet_body {


                        .newTweet_header {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            .header_items {
                                display: flex;

                                a {
                                    color: #eff3f4;
                                    cursor: none;

                                    &:hover {
                                        text-decoration: none;
                                    }
                                }

                                span.show_username {
                                    color: #5e6266;
                                    margin-left: 5px;
                                }

                                .timeAgo {
                                    color: #5e6266;
                                    margin-left: 5px;
                                }
                            }

                            .posted_more {
                                display: none;
                            }
                        }



                        .newTweet_content {
                            color: #eff3f4;
                        }

                        .newTweet_images {
                            margin-top: 15px;

                            .newTweet_img img {
                                width: 350px;
                                height: 200px;
                                border-radius: 5px;

                                img {
                                    width: 100%;
                                }
                            }
                        }

                        .replyUser {
                            display: none;
                        }

                        p.reply_txt_content {
                            color: #eff3f4;
                        }

                        .replyingUser {
                            display: block;

                            a {
                                text-decoration: none;
                                color: #007bff;

                                span {
                                    color: #6A6F73;
                                }
                            }

                        }


                        // .replyingUser {
                        //     display: block;

                        //     a {
                        //         text-decoration: none;
                        //         color: #007bff;

                        //         span {
                        //             color: #6A6F73;
                        //         }
                        //     }

                        // }


                        .newTweet_footer {

                            button {
                                display: none;
                            }

                        }
                    }
                }


            }

            .modal-footer {
                border-top: 2px solid transparent;

                .create_post {
                    display: flex;
                    justify-content: space-between;
                    padding: 1px;
                    z-index: 0;


                    .reply_avatar {
                        flex-basis: 45px;
                        height: 45px;
                        border-radius: 28px;
                        overflow: hidden;
                        margin-right: 15px;

                        img {
                            width: 100%;
                        }
                    }


                    .post_field {
                        flex: 1;

                        textarea#replyContent {
                            border: 0;
                            outline: 0;
                            resize: none;
                            height: 100px;
                            width: 100%;
                            background: #000;
                            color: #d6d9db;
                        }
                    }


                    .reply_img_container {
                        display: grid;
                        grid-template-columns: auto auto;
                        gap: 10px;
                        width: 100%;
                        margin-bottom: 25px;

                        .img {
                            position: relative;

                            img {
                                width: 100%;
                                height: 100%;
                                border-radius: 10px;
                                object-fit: cover;
                            }

                            span#cls_btn {
                                position: absolute;
                                right: 16px;
                                top: 6px;
                                background: #52565A;
                                color: #FFFFFF;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                height: 30px;
                                width: 30px;
                                border-radius: 50%;
                                cursor: pointer;
                            }
                        }
                    }

                    .reply_actions {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 9px;

                        label {
                            cursor: pointer;
                            height: 32px;
                            width: 32px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 50%;
                            transition: 0.5s;

                            &:hover {
                                background: #031019;
                            }
                        }

                        #replyImg {
                            display: none;
                        }

                        .replyBtn:disabled {
                            background: #0E4D78;
                            padding: 10px 25px;
                            border: 0;
                            outline: 0;
                            color: #7F7F7F;
                            border-radius: 25px;
                            font-weight: 500;
                        }

                        .replyBtn {
                            padding: 10px 25px;
                            border: 0;
                            outline: 0;
                            background: #1A8CD8;
                            color: #FFFFFF;
                            border-radius: 25px;
                            font-weight: 500;
                        }
                    }
                }


            }
        }
    }
}