.mid_side_container .mid_heading_container {
  display: flex;
  height: 50px;
  border-bottom: 1px solid #2f3336;
  padding: 15px;
  z-index: 3;
  position: fixed;
  background: #010507;
  align-items: center;
  width: 600px;
  border-left: 1px solid #2f3336;
  border-right: 1px solid #2f3336;
}
.mid_side_container .mid_heading_container h4 {
  font-size: 20px;
  font-weight: 500;
  color: #e7e9ea;
  cursor: pointer;
  margin-left: 20px;
}
.mid_side_container .newMessageContainer {
  width: 600px;
  margin-top: 50px;
  border-left: 1px solid #2f3336;
  border-right: 1px solid #2f3336;
  border-bottom: 1px solid #2f3336;
  padding: 15px;
}
.mid_side_container .newMessageContainer .createChatContainer {
  position: relative;
  display: flex;
  align-items: center;
}
.mid_side_container .newMessageContainer .createChatContainer label {
  z-index: 1;
  padding-left: 10px;
}
.mid_side_container .newMessageContainer .createChatContainer input#userSearch {
  width: 75%;
  border: 0;
  outline: 0;
  padding: 0 15px 0 53px;
  border-radius: 28px;
  height: 33px;
  margin-right: 15px;
  margin-left: -30px;
  background: #202327;
  color: #666C70;
}
.mid_side_container .newMessageContainer .createChatContainer i.fas.fa-search {
  color: #1B8AD6;
  padding-top: 15px;
}
.mid_side_container .newMessageContainer .createChatContainer button {
  padding: 5px 25px;
  border: 0;
  outline: 0;
  background: #1A8CD8;
  color: #FFFFFF;
  border-radius: 20px;
  font-weight: 500;
}
.mid_side_container .newMessageContainer .createChatContainer button:disabled {
  background: #8ECDF7;
  padding: 5px 25px;
  border: 0;
  outline: 0;
  color: #FFFFFF;
  border-radius: 20px;
  font-weight: 500;
}
.mid_side_container .newMessageContainer div#selectedUsers {
  margin: 10px 0;
  display: grid;
  grid-template-columns: repeat(5, 135px);
}
.mid_side_container .newMessageContainer div#selectedUsers .selectedUser {
  background: #202327;
  padding: 5px;
  width: 130px;
  border-radius: 25px;
}
.mid_side_container .newMessageContainer div#selectedUsers .selectedUser img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid #1A8CD8;
}
.mid_side_container .newMessageContainer div#selectedUsers .selectedUser span {
  color: white;
}
.mid_side_container .newMessageContainer div#selectedUsers .selectedUser button {
  background: transparent;
  border: 0;
  outline: 0;
  color: white;
}
.mid_side_container .newFollowContainer {
  border-left: 1px solid #2f3336;
  border-right: 1px solid #2f3336;
  height: 100%;
}
.mid_side_container .newFollowContainer h4 {
  text-align: center;
  padding-top: 15px;
  color: #666C70;
}
.mid_side_container .newFollowContainer .follow_section {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.mid_side_container .newFollowContainer .follow_section:hover {
  background: #181818;
}
.mid_side_container .newFollowContainer .follow_section .social_connection {
  display: flex;
  align-items: center;
}
.mid_side_container .newFollowContainer .follow_section .social_connection .avatar {
  position: relative;
  margin-left: 5px;
}
.mid_side_container .newFollowContainer .follow_section .social_connection .avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.mid_side_container .newFollowContainer .follow_section .social_connection .avatar .onlineStatus.active {
  background: #1A8CD8;
  border: 2px solid #000000;
}
.mid_side_container .newFollowContainer .follow_section .social_connection .avatar .onlineStatus {
  position: absolute;
  top: -7%;
  right: -3%;
  z-index: 10;
  width: 15px;
  height: 15px;
  background: #5e6266;
  border: 2px solid #000;
  border-radius: 50%;
  cursor: pointer;
}
.mid_side_container .newFollowContainer .follow_section .social_connection .avatar .onlineStatus::after {
  content: attr(data-onlineStatus);
  white-space: nowrap;
  position: absolute;
  top: -5px;
  left: 25px;
  font-size: 12px;
  background: #000000;
  color: #CED0D1;
  border: 1px solid #000000;
  border-radius: 4px;
  padding: 5px 10px;
  visibility: hidden;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 15px, rgba(255, 255, 255, 0.15) 0px 0px 3px 1px;
}
.mid_side_container .newFollowContainer .follow_section .social_connection .avatar .onlineStatus::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 20px;
  width: 10px;
  height: 10px;
  background: #000000;
  visibility: hidden;
  transform: rotate(30deg) skew(342deg, 13deg);
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 15px, rgba(255, 255, 255, 0.15) 0px 0px 3px 1px;
}
.mid_side_container .newFollowContainer .follow_section .social_connection .avatar .onlineStatus:hover::after {
  visibility: visible;
}
.mid_side_container .newFollowContainer .follow_section .social_connection .avatar .onlineStatus:hover::before {
  visibility: visible;
}
.mid_side_container .newFollowContainer .follow_section .social_connection .userNameDisplay {
  margin-left: 15px;
}
.mid_side_container .newFollowContainer .follow_section .social_connection .userNameDisplay a h5 {
  color: #EFF3F4;
  font-size: 18px;
}
.mid_side_container .newFollowContainer .follow_section .social_connection .userNameDisplay h6 {
  margin-top: 2px;
  color: #2f3336;
}
.mid_side_container .newFollowContainer .follow_section div button#followBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  text-align: center;
  width: 150px;
  height: 50px;
  font-weight: 600;
  background: #EFF3F4;
  color: #2f3336;
  padding: 5px 50px;
  border-radius: 25px;
  margin-right: 5px;
}
.mid_side_container .newFollowContainer .follow_section div button#followBtn.follow.active {
  background: transparent;
  border: 1px solid #EFF3F4;
  color: #EFF3F4;
  font-weight: 600;
}